html,
body {
  padding: 0;
  margin: 0;
  font-family: "CircularStd";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-Black.otf");
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-BlackItalic.otf");
  font-weight: normal;
  font-style: italic;
  color: black;
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
  color: white;
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
  color: white;
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-Book.otf");
  font-weight: normal;
  font-style: normal;
  color: white;
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-BookItalic.otf");
  font-weight: normal;
  font-style: italic;
  color: white;
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-Medium.otf");
  font-weight: 500;
  font-style: normal;
  color: white;
}

@font-face {
  font-family: "CircularStd";
  src: url("../assets/fonts/CircularStd/CircularStd-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
  color: white;
}